[run]
omit = *test*
       *alembic*
       tests/*
       cosmos/version.py
       data_gen/*
       admin/**/main.py
       admin/**/__init__.py
branch = True
concurrency = thread
              greenlet

[report]
fail_under = 85
exclude_lines = pragma: no cover