{% extends 'admin/base.html' %}

{% block title %}
BPL - {{ super() }}
{% endblock %}

{% block brand %}
<a href="{{ admin_view.admin.url }}"><img src="{{ url_for('eh.static', filename='img/bink-logo.png') }}" alt="Bink logo"
        style="padding-right: 2em"></a>
{% endblock %}

{% block head_css %}
{{ super() }}
<style>
    body {
        padding-top: 0px !important;
    }

    .navbar {
        background: linear-gradient(90deg, rgba(20, 30, 51, 1) 75%, rgba(48, 175, 185, 1) 100%) !important;
        border-color: transparent !important;
        border-style: none !important;
    }

    .navbar-nav {
        background-color: transparent !important;
    }

    a {
        color: #30AFB9;
    }

    .dropdown-item:hover {
        background-color: #141E33 !important;
    }

    .page-link {
        color: #30AFB9;
    }

    nav-link {
        color: #EBFFFD !important;
    }
</style>
{% endblock %}

{% block page_body %}
{% if config.get('ENV_NAME') == 'production' %}
    <p style="font-weight: bold; text-align: center; color: #ffffff; background-color: red;">PRODUCTION</p>
{% elif config.get('ENV_NAME') == 'sandbox' %}
    <p style="font-weight: bold; text-align: center; color: #ffffff; background-color: lightskyblue;">PERFORMANCE</p>
{% elif config.get('ENV_NAME') == 'staging' %}
    <p style="font-weight: bold; text-align: center; color: #ffffff; background-color: orange;">STAGING</p>
{% elif config.get('ENV_NAME') == 'local' %}
    <p style="font-weight: bold; text-align: center; color: #ffffff; background-color: gray;">LOCAL</p>
{% else %}
    <p style="font-weight: bold; text-align: center; color: #ffffff; background-color: green;">DEVELOPMENT</p>
{% endif %}
{{ super() }}
{% endblock %}