{% extends 'admin/master.html' %}

{% block body %}
<h1>Cosmos Admin</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <p class="lead">Welcome to the admin site for the <strong>Bink Provided Loyalty (BPL)</strong>
          project.</p>
        <p>This is a <a href="https://flask-admin.readthedocs.io/en/latest/" target="_blank">Flask-Admin</a> project
          incorporating views upon the data of the two primary BPL projects:
          <br />
          <small>
            <strong>NB:</strong> These links point to BinkHQ's private GitHub repositories,
            a github account member of BinkHQ is needed to see the source code.
          </small>
        </p>
        <ul>
          <li><strong><a href="https://github.com/binkhq/cosmos">Cosmos</a></strong> - Core BPL system</li>
          <li><strong><a href="https://github.com/binkhq/hubble">Hubble</a></strong> - Activity</li>
        </ul>
      </div>
      <div class="row">
        {% set user_name = session.get("user", {}).get("name", "").split(" ", 1)[0] %}
        {% if config.get('ENV_NAME') != 'production' and user_name in config.get("BPL_USER_NAMES") %}
          <span style="margin-bottom: 10px;">
            <h3>The Mortal Wombat is watching you {{ user_name }}</h3>
          </span>
          <span>
            <img src='{{ url_for("eh.static", filename="img/mortal-wombat.png") }}' alt="MW">
          </span>
        {% endif %}
      </div>
      <div class="row" style="padding-top: 10px">
        <h3 class="panel-heading">Scheduler Configs</h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover model-list">
            <thead>
              <tr>
                <th class="column-header">Config Name</th>
                <th class="column-header">Schedule</th>
                <th class="column-header">Description</th>
              </tr>
            </thead>
              {% for config in scheduler_configs %}
              <tr>
                <td>{{ config.name }}</td>
                <td>{{ config.schedule }}</td>
                <td>{{ config.description }}</td>
              </tr>
              {% endfor %}
            </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Documentation</h3>
      <ul>
        <!-- <li><a href="https://hellobink.atlassian.net/wiki/spaces/BPL/pages/2435482196/Event+Horizon"
            target="_blank">Confluence documentation</a></li> -->
        <li><a href="https://hellobink.atlassian.net/browse/BPL" target="_blank">JIRA project</a></li>
        <li><a href="https://hellobink.atlassian.net/wiki/spaces/BPL/overview" target="_blank">Confluence space</a></li>
        <li><a href="https://hellobink.atlassian.net/wiki/spaces/BPL/pages/3396501507/BPL+2.0+Product+Guide"
          target="_blank">BPL 2.0 Product Guide</a></li>
        <li><a href="https://docs.dev.gb.bink.com/bpl/" target="_blank">API Specification</a></li>
      </ul>
    </div>
  </div>
</div>



{% endblock %}