{% extends 'admin/master.html' %}

{% block body %}
<h1>Cosmos Admin</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">

        <p class="lead">Welcome to the admin site for the <strong>Bink Provided Loyalty (BPL)</strong>
          project.</p>
        <p>This is a <a href="https://flask-admin.readthedocs.io/en/latest/" target="_blank">Flask-Admin</a> project
          incorporating views upon the data of the two primary BPL projects:</p>
        <ul>
          <li><strong><a href="https://github.com/binkhq/cosmos">Cosmos</a></strong> - Core BPL system</li>
          <li><strong><a href="https://github.com/binkhq/hubble">Hubble</a></strong> - Activity</li>
        </ul>

      </div>
    </div>
    <div class="col-md-4">
      <h3>Documentation</h3>
      <ul>
        <!-- <li><a href="https://hellobink.atlassian.net/wiki/spaces/BPL/pages/2435482196/Event+Horizon"
            target="_blank">Confluence documentation</a></li> -->
        <li><a href="https://hellobink.atlassian.net/browse/BPL" target="_blank">JIRA project</a></li>
        <li><a href="https://hellobink.atlassian.net/wiki/spaces/BPL/pages/2089680945/Proposed+Data+Entities"
            target="_blank">Data entities</a></li>
        <li><a
            href="https://hellobink.atlassian.net/wiki/spaces/BPL/pages/2058518610/POST+MVP+High+level+Solution+Brain+Dump"
            target="_blank">High level MVP</a></li>
      </ul>
    </div>
  </div>


  <h4>Data Tables</h4>
  <div class="col-md-12 row" style="padding: 0;">


    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Customer Management Tables</th>
        </tr>
        <tr>
          <td><a href="account-holders/">Account Holders</a></td>
        </tr>
        <tr>
          <td><a href="profiles/">Profiles</a></td>
        </tr>
        <tr>
          <td><a href="campaign-balances/">Campaign Balances</a></td>
        </tr>
        <tr>
          <td><a href="marketing-preferences/">Marketing Preferences</a></td>
        </tr>
        <tr>
          <td><a href="pending-rewards/">Pending Rewards</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Retailer Management Tables</th>
        </tr>
        <tr>
          <td><a href="retailers/">Retailers</a></td>
        </tr>
        <tr>
          <td><a href="retailer-stores/">Retailer's Stores</a></td>
        </tr>
        <tr>
          <td><a href="retailer-fetch-types/">Retailer's Fetch Types</a></td>
        </tr>
        <tr>
          <td><a href="email-templates/">Email Templates</a></td>
        </tr>
        <tr>
          <td><a href="email-template-keys/">Email Template Keys</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Campaign and Reward Tables</th>
        </tr>
        <tr>
          <td><a href="campaigns/">Campaigns</a></td>
        </tr>
        <tr>
          <td><a href="earn-rules/">Earn Rules</a></td>
        </tr>
        <tr>
          <td><a href="reward-rules/">Reward Rules</a></td>
        </tr>
        <tr>
          <td><a href="reward-configs/">Reward Configurations</a></td>
        </tr>
        <tr>
          <td><a href="rewards/">Rewards</a></td>
        </tr>
        <tr>
          <td><a href="fetch-types/">Fetch Types</a></td>
        </tr>
        <tr>
          <td><a href="reward-updates/">Reward Updates</a></td>
        </tr>
        <tr>
          <td><a href="reward-file-log/">Reward File Log</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Transactions</th>
        </tr>
        <tr>
          <td><a href="transactions/">Transactions</a></td>
        </tr>
        <tr>
          <td><a href="transaction-earn/">Transaction Earn</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Task Tables</th>
        </tr>
        <tr>
          <td><a href="tasks/">Tasks</a></td>
        </tr>
        <tr>
          <td><a href="task-types/">Task Types</a></td>
        </tr>
        <tr>
          <td><a href="task-type-keys/">Task Type Keys</a></td>
        </tr>
        <tr>
          <td><a href="task-type-key-values/">Task Type Key Values</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Activity Tables</th>
        </tr>
        <tr>
          <td><a href="activities/">Activity</a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-8 row" style="padding: 0;">


  </div>


</div>


</div>



{% endblock %}